.error {
  color: rgb(204, 15, 56);
  font-weight: 500;
  padding: 10px;
}
.success {
  color: rgb(6, 119, 12);
  font-weight: 500;
  padding: 10px;
}

.cover-preview-wrapper {
  display: none;
  margin: 7px 0;
}
#coverPreview {
  width: 140px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.post__views {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-view {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* ======== */
.dropdown {
  transition: height 0.3s ease-in-out;
  height: 22px;
  overflow: hidden;
}
.dropdown ul {
  display: flex;
  flex-direction: column;
}
.dropdown ul li {
  padding: 10px;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
}

.dropList {
  height: 160px;
}

.gallery ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Gallery */
.active {
  display: block;
}
.slide {
  display: none;
}
.active {
  display: block;
}
